.user-container {
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    gap:10px;
}

.user-container h1:first-child{
    text-align: left;
    margin-top: 0px;
}

.list-container{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

.list-item {
    /* display: flex; */
    /* align-items: center; */
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.input-field {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    width: 200px;
}

.button-field {
    background-color: rgb(17, 11, 11);
    color: white;
    padding:10px;
    margin:10px;
}