.bar-chart{
    margin: 50 auto;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    height: 100vh;
  }
  
  .bar-chart h2 {
    text-align: center;
  }
  
  .chart{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    gap: 10px;
  }
  
  .bar{
    width: 20px;
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }