.board-container{
    display: flex;
    flex-direction: row;
}

.items-container {
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    height: 80vh;
    min-width: 200px;
}

.item {
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
}

.error-message {
    color: red;
    font-weight: 600;
}