.dot {
    height: 25px;
    width: 25px;
    
    border-radius: 50%;
    display: inline-block;
  }

  .class-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .center {
    text-align: center;
  }

  
  .ptl {
    padding-top: 20px;
    margin-top: 20px;
  }

  .action-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

  .pbl{
    padding-bottom: 25px;
  }

  .green{
    background-color: #019177;
  }

  .gray{
    background-color: #eae2e2;
  }

  progress {
    background-color: #eee;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.3s ease;
  }