.training-container h1:first-child {
  margin-top: 0px;
}

.progress-bar {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  padding-top:30px;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
}

.step-container  p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.line-completed {
  background: limegreen;
}

.line {
  background: #eae2e2;
  position: relative;
  top: -25px;
  left: 70px;
  width: 120px;
  height: 4px;
  z-index: -1;
}

.line.green {
  background-color: #019177; 
}

.dot {
  height: 50px;
  display: flex;
  width: 50px;
  border-radius: 50%;
  font-size: 24px;
  align-items: center;
  font-weight: 600;
  color: white !important;
  justify-content: center;
}

  .center {
    text-align: center;
  }

  
  .ptl {
    padding-top: 20px;
    margin-top: 20px;
  }

  .action-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

  .pbl{
    padding-bottom: 25px;
  }

  .completed{
    background-color: #019177;
    color: white;
  }

  .started {
    background-color: blue;
    color: white;
  }

  .pending{
    background-color: #eae2e2;
  }

  progress {
    background-color: #eee;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.3s ease;
  }