#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.navbar {
  position: fixed;       /* Keeps it stuck to the viewport */
  top: 0;                /* Align to top */
  left: 0;               /* Full width */
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 1000;         /* Keeps it above other elements */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.content {
  margin-top: 80px; /* Prevent content from hiding behind navbar */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
